<section class="mt-2">
    <p-panel header="Pipes personalizados">
        <p>Pipe personalizados - creados por {{'nosotros' | toggleCase : isUpperCase }}</p>
    </p-panel>
</section>

<section class="mt-2">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <p-button label="ToggleCase" icon="pi pi-search" class="mr-2" (onClick)="toggleUpperCase()"></p-button>
        </div>
        <div class="p-toolbar-group-end">
            <p-button label="Por Nombre" icon="pi pi-sort" class="mr-2" styleClass="p-button-success" (onClick)="changeOrder('name')"></p-button>
            <p-button label="Por volar" icon="pi pi-sort" class="mr-2" styleClass="p-button-success" (onClick)="changeOrder('canFly')"></p-button>
            <p-button label="Por color" icon="pi pi-sort" class="mr-2" styleClass="p-button-success" (onClick)="changeOrder('color')"></p-button>

        </div>

    </p-toolbar>
</section>

<section class="grid">
    <section class="col mt-2">
        <p-panel header="Heroes">
            <p-table [value]="heroes | sortBy : selectedSort " [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Can Fly</th>
                        <th>Color</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.canFly | canFly }}</td>
                        <td>{{ product.color }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
    </section>
</section>